.main{
    background-color: #f0f0f0;
    padding-top: 36px;
    padding-bottom: 36px;
}
.day1{
    position: relative;
    margin-top: 61px;
    margin-right: auto;
    margin-left: auto;
    width: 620px;
    height: 86px;
    line-height: 86px;
    background-color: #fff;
    border:1px solid #e5e5e5;
}
.day1 p{
    font-size: 30px;
    color: #29bde0;
    text-align: center;
}
.day1 img{
    position: absolute;
    top: 37px;
    right: 17px;
    cursor: pointer;
}
.step{
    position: relative;
    margin-top: -1px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 620px;
    background-color: #fff;
    border:1px solid #e5e5e5;
}
.step p{
    margin-top:20px;
    margin-left: 94px;
    margin-bottom: 20px;
    width: 477px;
    height: 77px;
    line-height: 77px;
    background-color: #24a7c6;
    text-align: center;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}
.step p:hover{
    opacity: 0.8;
}
.step p:nth-of-type(4){
    margin-bottom: 85px;
}
.tran{
    width:0;
    height:0;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-right: 16px solid  #24a7c6;
}
#tran1{
    position: absolute;
    top: 73px;
    left: 78px;
}
#tran2{
    position: absolute;
    top: 170px;
    left: 78px;
}
#tran3{
    position: absolute;
    top: 267px;
    left: 78px;
}#tran4{
     position: absolute;
     top: 363px;
     left: 78px;
 }
#tran5{
    position: absolute;
    top: 525px;
    left: 78px;
}
#tran6{
    position: absolute;
    top: 622px;
    left: 78px;
}
#tran7{
    position: absolute;
    top: 719px;
    left: 78px;
}
.line{
    position: absolute;
    top:0;
    left: 35px;
    width:2px;
    height: 826px;
    background-color: #e5e5e5;
}
.daytime,.night{
    position: absolute;
    left: 5px;
    width: 60px;
    height: 60px;
    border: 2px solid #e5e5e5;
    border-radius: 100%;
}
.daytime{
    top: 55px;
    background: #fff url("../images/option-03.png") no-repeat center center;
}
.night{
    top: 510px;
    background: #fff url("../images/option-02.png") no-repeat center center;
}