
body{
    font-family: ºÚÌå;
}
.header{
    position: relative;
    width:100%;
    height: 84px;
    line-height: 84px;
    text-align: center;
    border-bottom: 2px solid #42C5E4;
}
.home{
    position: absolute;
    left:20px;
    top: 21px;
    width: 51px;
}
.info{
    position:absolute;
    top: 22px;
    right: 18px;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border:4px solid white;
    background: url(../images/result-02.png) no-repeat center center;
    background-size: 40px;
}
.title{
    font-size: 34px;
    color:white;
    vertical-align: top;
}
.result{
    text-align: center;
    border-bottom:1px solid lightgray;
}
.result-pic{
    width: 351px;
    height: 205px;
    background: url(../images/result-03.png) no-repeat center bottom;
    background-size: 351px;
    margin:0 auto;
    padding-top: 23px;
    font-size: 0;
    text-align: center;
}
.result-pic img{
    margin-top: 26px;
    width: 85px;
}
.result-pic p{
    font-size: 48px;
    font-weight: bold;
    color: white;
    margin-top: 20px;
}
.result-cgtl{
    margin:33px 75px 0 75px;
    font-size: 33px;
    color: #FDC867;
    text-align: left;
}
.result-time,.result-players{
    font-size: 26px;
    color: white;
    margin: 63px 0 0 75px;
    text-align: left;
    line-height: 41px;
    margin-bottom: 25px;
}
.result-players{
    margin-top:0;
}
.result-time{
    margin-bottom: 0;
}
.result-details{
    margin-bottom: 129px;
    background-color: white;
    overflow: hidden;
    border: 1px solid lightgray;
}
.result-details div{
    border-bottom:1px solid lightgray;
}
.result-details p{
    margin-top: 12px;
    margin-left:  75px;
    font-size: 26px;
    color: lightgray;
}
.result-details > div p:first-child{
    font-size: 30px;
    color:#8B8B8B;
    margin:15px 0 12px 75px;
}
.result-details > div p:nth-of-type(3){
    margin-bottom: 32px;
}
.result-footer{
    position: fixed;
    bottom: 0;
    width: 640px;;
    height: 130px;
    line-height: 130px;
    background: rgba(140,211,228,0.5);
    text-align: center;
}
.left{
    width: 270px;
    height: 85px;
    border-radius: 10px;
    background-color: #F66F6F;
    font-size: 40px;
    color: white;
    font-family: ºÚÌå;
    vertical-align: middle;
    outline: none;
    cursor: pointer;
}
.right{
    width: 270px;
    height: 85px;
    border-radius: 10px;
    background-color: #FBB435;
    font-size: 40px;
    color: white;
    font-family: ºÚÌå;
    vertical-align: middle;
    outline: none;
    cursor: pointer;
}
a{
    text-decoration: none;
}