<div class="hp-header">
    <a href="#"><img class="hp-return" src="../images/homepage-01.png"/></a>
</div>
<div class="hp-main">
    <a class="hp-lastgame">上次游戏：捉鬼猜词版</a>
    <div class="hp-type">
        <p class="hp-title">捉鬼游戏</p>
        <a class="hp-level" ui-sref="shuffle">简化版</a>
        <p class="hp-players">有1133个用户正在玩此款游戏</p>
        <a class="hp-level">猜词版</a>
        <p class="hp-players">有1133个用户正在玩此款游戏</p>
        <a class="hp-level">白痴版</a>
        <p class="hp-players">有1133个用户正在玩此款游戏</p>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>