.box {
    padding:0 20px;
    width: 1000px;
    height: 600px;
    border: 1px solid gray;
    font-size: 16px;
    font-family: 'Arial Normal', 'Arial';
}
.name,.job,.school,.level,.gift,.oath,.qq,.join-time,.footer {
    position: relative;
    margin-bottom: 15px;
    height: 25px;
}
input[type=text] {
    position: absolute;
    left: 120px;
    width: 820px;
    height: 25px;
    border-radius: 2px;
}
.typeinput,.giftinput,.levelinput {
    position: absolute;
    left: 120px;
    width: 820px;
    line-height: 25px;
}
.typeinput  label:last-child,
.giftinput  label:last-child,
.levelinput  label:last-child{
    margin-right: 0;
}
.kind{
    margin-right: 50px;
}
.study{
    margin-right: 40px;
}
.title {
    position: absolute;
    line-height: 25px;
}
.name {
    margin-top: 40px;
}
.oath textarea{
    position: absolute;
    left: 120px;
    width: 820px;
    height: 100px;
}
input[type=button] {
    margin-right: 90px;
    margin-left: 90px;
    width: 100px;
    height:40px;
    border-radius: 5px;
    border:1px solid gray;
    font-size: 16px;
}
.footer{
    margin-top: 180px;
    text-align: center;
}
#editor{
    width: 820px;
    margin-left: 120px;
    height:120px;
}
.invalid {
    border: 1px solid #ff0000;
}
.valid {
    border: 1px solid #00ff00;
}
.invalidcolor {
    position: absolute;
    top: 4px;
    left: 920px;
    color: #ff0000;
}
.validcolor {
    position: absolute;
    top: 4px;
    left: 920px;
    color: #00ff00;
}