.list-box {
    position: relative;
    padding:0 20px;
    width: 1000px;
    height: 600px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-family: 'Arial Normal', 'Arial';
    overflow-y: scroll;
}
.list-title{
    margin: 0;
    line-height: 68px;
}
.list-addinfo{
    position: absolute;
    top:0;
    right: 40px;
}
.list-addinfo a{
    font-size: 48px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.list-top th{
    text-align: center;
}
