<div class="detail-box">
    <div class="detail-return">
        <a id="return" ui-sref="list">返回>></a>
    </div>
    <div class="name">
        <span class="detail-title">姓名：</span>
        <p class="detail-info">{{student.name}}</p>
    </div>
    <div class="qq" id="qq">
        <span class="detail-title">QQ：</span>
        <p class="detail-info">{{student.qq}}</p>
    </div>
    <div class="job">
        <span class="detail-title">修真类型：</span>
        <p class="detail-info">{{student.type | typeFilter}}</p>
    </div>
    <div class="school">
        <span class="detail-title">毕业院校：</span>
        <p class="detail-info">{{student.school}}</p>
    </div>
    <div class="gift">
        <span class="detail-title">资质：</span>
        <p class="detail-info">{{student.talent | talentFilter}}</p>
    </div>
    <div class="level">
        <span class="detail-title">修行等级：</span>
        <p class="detail-info">{{student.level | levelFilter}}</p>
    </div>
    <div class="jointime">
        <span class="detail-title">预计入学时间：</span>
        <p class="detail-info">{{student.joinTime}}</p>
    </div>
    <div class="oath">
        <span class="detail-title">修行立愿：</span>
        <p class="detail-info">{{student.wish}}</p>
    </div>
    <div class="footer">
        <input type="button" class="save btn btn-primary" id="edit" value="编辑" ng-click="edit()">
        <input type="button" class="cancel btn btn-primary" id="delete" value="删除" ng-click="delete()">
    </div>

</div>