<div class="box">
    <form name="saveForm">
        <div class="name">
            <span>姓名：</span>
            <input id="name" name="name" type="text" ng-model="student.name"
                   ng-class="{'invalid':saveForm.name.$invalid && saveForm.name.$touched,'valid':saveForm.name.$valid }"
                   required>
            <p ng-if="saveForm.name.$invalid && saveForm.name.$touched " class="fa fa-times invalidcolor"></p>
            <p ng-if="saveForm.name.$valid" class="fa fa-check validcolor"></p>
        </div>
        <div class="qq">
            <span>QQ：</span>
            <input id="qq" name="qq" type="text" ng-model="student.qq"
                   ng-class="{'invalid':saveForm.qq.$invalid && saveForm.qq.$touched,'valid':saveForm.qq.$valid}"
                   ng-maxlength="15"
                   ng-minlength="1"
                   required>
            <p ng-if="saveForm.qq.$invalid && saveForm.qq.$touched " class="fa fa-times invalidcolor"></p>
            <p ng-if="saveForm.qq.$valid" class="fa fa-check validcolor"></p>
        </div>
        <div class="job">
            <span>修真类型：</span>
            <div class="typeinput">
                <input type="radio" id="kind-css" name="job" value="1" ng-model="student.type"><label class="kind" for="kind-css">CSS</label>
                <input type="radio" id="kind-js" name="job" value="2" ng-model="student.type"><label class="kind" for="kind-js">JS</label>
                <input type="radio" id="kind-java" name="job" value="3" ng-model="student.type"><label class="kind" for="kind-java">JAVA</label>
                <input type="radio" id="kind-op" name="job" value="4" ng-model="student.type"><label class="kind" for="kind-op">运维</label>
                <input type="radio" id="kind-dba" name="job" value="5" ng-model="student.type"><label class="kind" for="kind-dba">DBA</label>
                <input type="radio" id="kind-pro" name="job" value="6" ng-model="student.type"><label class="kind" for="kind-pro">产品</label>
                <input type="radio" id="kind-ios" name="job" value="7" ng-model="student.type"><label class="kind" for="kind-ios">IOS</label>
                <input type="radio" id="kind-andr" name="job" value="8" ng-model="student.type"><label class="kind" for="kind-andr">ANDROID</label>
            </div>
        </div>
        <div class="school">
            <span>毕业院校：</span>
            <input id="school" name="school" type="text" ng-model="student.school"
                   ng-class="{'invalid':saveForm.school.$invalid && saveForm.school.$touched,'valid':saveForm.school.$valid }"
                   required>
            <p ng-if="saveForm.school.$invalid && saveForm.school.$touched " class="fa fa-times invalidcolor"></p>
            <p ng-if="saveForm.school.$valid" class="fa fa-check validcolor"></p>
        </div>
        <div class="gift">
            <span>资质：</span>
            <div class="giftinput">
                <input type="radio" id="gift-good" name="gift" value="1" ng-model="student.talent"><label class="kind" for="gift-good">学霸</label>
                <input type="radio" id="gift-bad" name="gift" value="2" ng-model="student.talent"><label class="kind" for="gift-bad">学渣</label>
            </div>
        </div>
        <div class="level">
            <span>修行等级：</span>
            <div class="levelinput">
                <input type="radio" id="level0" name="level" value="1" ng-model="student.level"><label class="study" for="level0">0基础</label>
                <input type="radio" id="level1" name="level" value="2" ng-model="student.level"><label class="study" for="level1">修行3个月以内</label>
                <input type="radio" id="level2" name="level" value="3" ng-model="student.level"><label class="study" for="level2">修行6个月以内</label>
                <input type="radio" id="level3" name="level" value="4" ng-model="student.level"><label class="study" for="level3">修行1年以内</label>
                <input type="radio" id="level4" name="level" value="5" ng-model="student.level"><label class="study" for="level4">修行3年以内</label>
                <input type="radio" id="level5" name="level" value="6" ng-model="student.level"><label class="study" for="level5">修行3年以上</label>
            </div>
        </div>
        <div class="join-time">
            <span>预计入学时间：</span>
            <input id="jointime" name="jointime" type="text" ng-model="student.joinTime"
                   ng-class="{'invalid':saveForm.jointime.$invalid && saveForm.jointime.$touched,'valid':saveForm.jointime.$valid }"
                   required>
            <p ng-if="saveForm.jointime.$invalid && saveForm.jointime.$touched " class="fa fa-times invalidcolor"></p>
            <p ng-if="saveForm.jointime.$valid" class="fa fa-check validcolor"></p>
        </div>
        <div class="oath">
            <span>修行立愿：</span>
            <div id="editor" class="ueditor" name="content" config="simple" ng-model="student.wish"></div>
        </div>
        <div class="footer">
            <input type="button" class="save btn btn-primary" id="save" value="保存" ng-disabled="saveForm.$invalid" ng-click="save()">
            <input type="button" class="cancel btn btn-primary" id="cancel" value="取消" ui-sref="list">
        </div>
    </form>
</div>